.body{
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
}

#sitename{
    font-size:22px;

}

.glyphicon{
 margin-right:3px; 
 margin-bottom:-2px;
}

.header{
    margin-top:100px;
}

#logo{
    text-align:center;
}

#logo img {
  max-width: 360px;
  border: 5px solid #fff;
  border-radius: 100%;
}

h1,h2,h3,p{
    text-align:center;
}


